.idea
*.zip
.DS_Store
.venv/
__pycache__/
.pytest_cache/
ha-config/.cache
ha-config/.storage/
ha-config/blueprints/
ha-config/home-assistant.log*
ha-config/home-assistant_v2.db*
ha-config/deps/
ha-config/.ha_run.lock
ha-config/tts/
ha-config/tmp/
ha-config/*.secret
